name: Check engine size

on:
  push:
  schedule:
    - cron: 0 2 * * * 
jobs:
  check_size:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
      
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '11.0.2'
          architecture: x64

      - name: Setup matplotlib
        run: |
          python -m pip install -U pip
          python -m pip install -U matplotlib

      - name: Check github token
        id: checktoken
        shell: bash
        run: |
          echo '::set-output name=FAV_NUMBER::3'
          if [ "${PRIVATE_GITHUB_TOKEN}" == "" ]; then
            echo "::set-output name=token_exists::false"
            echo "token_exists::false"
          else
            echo "::set-output name=token_exists::true"
            echo "token_exists::true"
          fi

      - name: Read output
        run: |
          echo "token_exists: ${{steps.checktoken.outputs.token_exists}}"
          echo "FAV_NUMBER: ${{steps.checktoken.outputs.FAV_COLOR}}"

      - name: Check size
        run: |
          python check_size.py

      - name: Commit changes
        if: ${{ steps.checktoken.outputs.token_exists }} == true
        run: |
          git commit -m "Generated new size report and graph [skip ci]" bundle_size.png engine_size.png engine_report.csv bundle_report.csv releases.json
          git push "https://${PRIVATE_GITHUB_TOKEN}@github.com/britzl/dmengine_size.git" HEAD:master
