name: Check engine size

on:
  push:
  schedule:
    - cron: 0 2 * * * 
jobs:
  check_size:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
      
      - name: Setup matplotlib
        run: |
          python -m pip install -U pip
          python -m pip install -U matplotlib

      - name: Check size
        run: |
          python check_size.py

      - name: Commit changes
        run: |
          git commit -m "Generated new size report and graph [skip ci]" bundle_size.png engine_size.png engine_report.csv bundle_report.csv releases.json
          git push "https://${PRIVATE_GITHUB_TOKEN}@github.com/britzl/dmengine_size.git" HEAD:master
